:root{

    /* declaration des variables css */

    --d100: #0f172a;
    --d200: #334155;

    --l100: #f8fafc;
    --l200: #c8daee;

    --acc: #349ce6;
    --acc-rgb: 52, 156, 230;


    --scrollBtnRadius: 120px;
    --SMIconRadius: 45px;

}

*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-height: 300vh;
    font-family: "Instrument Sans";
    background-color: var(--l100);
    color: var(--d100);
}

.title{
    font-family: "Archivo Black";
}

a{
    color: var(--d100);
    text-decoration: none;
    font-weight: 500;
}

li{
    list-style: none;
}

section[id] {
  scroll-margin-top: 90px;
}

/* navbar */

nav{
    position: fixed;
    width: 100%; height: 90px;
    display: flex;
    padding-inline: 20px;

    z-index: 9999;

    background-color: var(--l100);
    color: var(--l100)
}

#logo{
    width: 180px;
    display: flex;
    justify-content: center; align-items: center;
    text-decoration: none !important; 
}
#logo img{
    object-fit: contain;
    width: 100%; height: 100%;
}
nav a:hover{
    text-decoration: underline 1px solid var(--acc);
}

nav ul{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2vw;
    padding-inline: 5vw;
}

#burger{
    width: 90px; height: 90px;
    padding: 10px;

    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    gap: 4px;

    display: none;
    margin-left: auto;

    /* background-color: yellow; */
}

#burger span{
    --offset: -1;
    width: 100%; height: 4px;
    transition: rotate .4s .4s ease;

    background-color: var(--d100);
}

#burger .small{
    --offset: 1;
    transform-origin: right;
    scale: .5 1;
    rotate: 0deg;

    transition: scale .4s ease,
    rotate .4s .4s ease;
}

#burger.active span{
    scale: 1;
    rotate: calc(3.27deg * 4 * var(--offset));
    /* 
    on a 2 segments de 70 par 4 arranger verticalement et espacé de 4px
    On cherche l'angle qui correspond pour faire une croix :
    ----  ->    \/
    ----  ->    /\

    arctan(4/70) ~= 3.27deg
    or on pivote depuis la droite et non du milieu,
    donc on ajoute un facteur, 4 semble correcte.
    */
}

/* landing page */

#hero{
    position: relative;
    width: 100%; height: 100vh;
    display: flex;

    background-color: var(--l200);
}

#hero .socialMedias{
    min-width: 70px; height: 100%;
    display: flex; flex-direction: column;
    align-items: center; justify-content: end;

    padding-block: 40px;
    gap: 20px;

    /* background-color: cyan; */
}
#hero .socialMedias a{
    width: var(--SMIconRadius); height: var(--SMIconRadius);
    border-radius: 50%;

    transition: background .6s ease;
}
#hero .socialMedias a:hover{
    background-color: var(--acc);
}
#hero .socialMedias a img{
    object-fit: cover;
    width: 100%; height: 100%;
}

.heroContent{
    flex: 1;
    display: flex;

    /* background-color: black; */
}

.heroContent div{
    flex: 1;

    display: flex; flex-direction: column;
    justify-content: center;
    padding-inline: 2vw;

    /* background-color: orange; */
}
.heroContent div .title{
    font-size: max(64px, 10vw);
}
.heroContent div .title span{
    color: var(--acc);
}
.heroContent div p{
    display: flex; flex-direction: column;
    margin-bottom: 20px;
    font-size: max(10px, 1.2vw);
    color: var(--d200);
}

#hero .scrollDown{
    flex: 1;
    display: flex;
    justify-content: center; align-items: end;

    padding-block: 50px;

    /* background-color: green; */
}
#hero .scrollDown a{
    width: var(--scrollBtnRadius); height: var(--scrollBtnRadius);
    border-radius: 50%;

    display: flex;
    justify-content: center; align-items: center;

    font-weight: 900;
    font-size: 5em;

    transform: rotate(135deg);
    background-color: var(--acc);
}

/* a propos */

#about{
    /* height: 250px; */
    background-color: var(--d200);

    display: flex; flex-wrap: wrap;
    justify-content: center; align-items: center;
    gap: 20px;
    padding: 40px 20px;
}

#about div{
    /* flex: 1; */
    min-width: 340px;
    padding: 10px;

    display: flex;
    justify-content: start; align-items: center;
    gap: 10px;


    background-color: var(--d100);

    color: var(--l100);
    /* background-color: var(--acc); */
}
#about p{
    font-size: .75em;
    color: var(--l200)
}

.abtIcon{
    width: 50px; height: 50px;
    /* background-color: var(--l200); */
}

@media screen and (max-width: 800px) {
    :root{
        --scrollBtnRadius: 75px;
    }
    nav ul{
        display: none;
    }
    #burger{
        display: flex;
    }

    #hero{
        height: calc(100vh - 40px);
    }
    #hero .socialMedias{
        position: absolute;
    }
    .heroContent{
        flex-direction: column;
    }
    .heroContent div .title{
        text-align: center;
    }
    .heroContent div p{
        margin-inline: auto;
    }
    #hero .scrollDown{
        padding-block: 0;
        max-height: calc(120px + 50px);
        align-items: center;
    }
    #hero .scrollDown a{
        font-size: 3.125em;
        transform: rotate(90deg);
    }

    #about div{
        flex: 1;
    }
}

/* services */

#services{
    display: flex;
    padding-inline: 4vw;
}
#services>ul{
    flex: 1;
    display: flex; flex-direction: column;
    gap: 50px;
    padding-block: 50px;
    /* background-color: blue; */
}
#services .node{
    width: 100%;
    display: flex; flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-block: 50px;

    background-color: var(--l200);
    color: var(--d200);
    border-radius: 25px;
}
#services h1{
    font-size: max(32px, 5vw);
    text-align: center;
    color: var(--d100);
    padding-inline: 2vw;
}
#services .node p{
    text-align: center;
    padding-inline: 50px;
}
#services .node .service-facts{
    display: flex; flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 2vw;
}
#services .node .service-facts li{
    padding: 10px 25px;
    border-radius: 25px;
    background-color: rgba(var(--acc-rgb), .4);
    cursor: default;
}
#services .node .service-facts li:hover{
    background-color: var(--acc);
}
#services .node p{
    font-size: min(24px, 4vw);
}
#services .node .service-facts{
    font-size: min(16px, 3vw);
}

#services .node img{
    object-fit: cover;
    width: 100%; height: 100%;
}

/* value position */

#valuePosition{
    display: flex; flex-direction: column;
    gap: 50px;
    padding-block: 50px;

    /* background-color: red; */
}
#valuePosition h2{
    text-align: center;
    font-size: max(3em, 5vw);
    padding-inline: 2vw;

    /* background-color: blue; */
}
#valuePosition ul{
    display: flex; flex-direction: column;
    gap: 50px;

    /* background-color: green; */
}

#valuePosition ul li{
    margin-inline: 3vw;

    border-left: 10px solid var(--d100);
    background-color: var(--d200);
    color: var(--l100);
}
#valuePosition ul li details summary{
    padding: 50px 20px;
    cursor: pointer;
    /* background-color: blue; */
    list-style: none;
}
#valuePosition ul li details p{
    background-color: var(--acc);
    color: var(--d100);
    padding: 10px 20px;
}

/* contact */

#contact{
    padding-block: 50px;
    display: flex;
    justify-content: space-between; align-items: center;
    padding-inline: 4vw;

    background-color: var(--d200);
}

#contact h1{
    font-size: 7vw;
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    text-decoration: underline 2px var(--acc);
    color: var(--l100);
}

#contact a{
    height: 75px; width: 75px;
    border-radius: 50%;
    display: flex;
    justify-content: center; align-items: center;
    font-size: 3em;

    background-color: var(--acc);
    color: var(--l100);
}

/* footer */

footer{
    display: flex; flex-wrap: wrap;
    /* gap: 2px; */
    color: var(--l100);
    background-color: var(--d100);
}
footer a{
    color: var(--acc);
}

footer div{
    /* flex: 1; */
    display: flex; flex-direction: column;
    justify-content: center;
    padding: 2vw;
    gap: 20px;
}
footer div p,
footer div h3,
footer div ul{
    flex: 1;
}
.footerMedia{
    display: flex;
    gap: 10px;
}
.footerMedia li{
    display: flex;
}
.footerMedia a{
    width: 45px; height: 45px;
    display: flex;
    justify-content: center; align-items: center;
    border-radius: 50%;

    background-color: var(--d200);
    transition: background .6s ease;
}
.footerMedia a:hover{
    background-color: var(--acc);
}
.footerMedia a img{
    object-fit: cover;
    width: 100%; height: 100%;
}

.copy{
    min-width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    padding-block: 20px;
    border-top: 2px solid var(--d200);
}
.copy p{
    flex: 0;
}

/*  */

#hiddenDiv{
    position: fixed;
    width: 100%; height: 100vh;

    display: flex; flex-direction: column;
    align-items: center; justify-content: center;

    transform: translateY(-100vh);
    z-index: 99;
    opacity: 0;

    transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 0s 1s;
    background-color: var(--d100);
}
#hiddenDiv ul{
    display: flex; flex-direction: column;
    align-items: center;
    gap: 40px;
}
#hiddenDiv a{
    color: var(--l100);
    text-align: center;
}
#hiddenDiv a:hover{
    text-decoration: underline 2px solid var(--acc);

}

#hiddenDiv.active{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;

    transition: transform 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 0s;
}